<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>smartGuide.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFFE27B01D35A7330090DC23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFFE27C91D35A7330090DC23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFFE27D41D35A7330090DC23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
